.carousel-inner {
  height: 415px;
}

.carousel-inner>.active {
  display:inline-block;
  padding: 0px;
  margin:0px;
  position:relative;
}

#banner1 {
  height:415px;
  background-image: url("/img/m1.jpg");
}

#banner1 > p {
  color:#FFF;
  position: relative;
  left:800px;
  top:100px;"
}

#banner2 {
  height:415px;
  background-image: url("/img/m2.jpg");
}

#banner2 > p {
  color:#333333;
  position: relative;
  left:300px;
  top:100px;"
}

#banner3 {
  height:415px;
  background-image: url("/img/m3.jpg");
  text-align: center;
}
#banner3 > p {
  color:#FFF;
  position: relative;
  top: 100px;
}

#button1,
#button3 {
    color: #fff;
    background-color: transparent;
    border-color: #FFF;
}

#button1:hover,
#button3:hover {
    color: #333333;
    background-color: #fff;
    border-color: #FFF;
}

#button2 {
  color:#333333;
  background-color:transparent;
  border-color:#333333;
}

#button2:hover {
    color:#ffffff;
    background-color: #333333;
    border-color: #333333;
}
